@import url('https://fonts.googleapis.com/css?family=Cabin:400,600&display=swap');
.midle-text {
    width: 360px;
    background-color: #67b2e8;
    text-align: center;
    border-radius: 30px;
    width: 360px;
    padding: 0px 16px;
}
.button input{
    font-size: 24px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border-radius: 53px;
    border: #0c2074;
    background-color: #0c2074;
    color: #ffffff;
    margin: 15px;
}
.nome{
    text-align: left;
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    color: #000000;
}
.email{
    text-align: left;
    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    color: #000000;
}
.campo-nome input{
    width: 300px;   
    height: 30px;
    font-size: 20px;    
    background: #FFFFFF;
}
.campo-email input{
    width: 300px;
    height: 30px;
    font-size: 20px;  
    background: #FFFFFF;
}