.tam-img {
    height: 100px;
}

.fundo {
    background: #67b2e8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.flex {
    background: #0c2074;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.midle-text {
    width: 360px;
    margin: 10px;
}
.midle-text1 {
    background-color: #67b2e8;
    text-align: center;
    border-radius: 30px;
    width: 360px;
}
.email-text {
    margin-left: 40px;
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    color:#fff;
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: left;
    width: 300px;
}
.circulo {
    height: 165px;
    width: 165px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
}
.texto-curadoria {
    color: black;
    font-size: 1rem;
    font-family: Cabin, sans;
    font-weight: 600;
}
.img-circulo {
    height: 100px;
    margin: 2px;
}
.button input{
    padding: 5px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    width: max-content;
    height: 40px;
    cursor: pointer;
    border-radius: 53px;
    border: #0c2074;
    background-color: #0c2074;
    color: #ffffff;
}
.nome{
    text-align: left;
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 20px;
    color: #000000;
}
.email{
    text-align: left;
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 20px;
    color: #000000;
}
.campo-nome input{
    width: 300px;   
    height: 30px;
    font-size: 20px;    
    background: #FFFFFF;
    font-size: 1rem;
    padding: 5px;
}
.campo-email input{
    width: 300px;
    height: 30px;
    font-size: 20px;  
    background: #FFFFFF;
    font-size: 1rem;
    padding: 5px;
}
.canto-inferior {
    align-self: flex-end;
 }
.check{
    margin-top: 20px;
    margin-right: 45px;
}
.seque{
    color: #000;
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-size: .9rem;
}