@import 'banner_principal.css';
@import 'link_quiz.css';
@import 'rodape.css';
@import 'form.css';
@import 'lpebook.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button input{
    cursor: pointer;
}