@import url('https://fonts.googleapis.com/css?family=Cabin:400,600&display=swap');


header {
    height: 100px;
}

.dark-background {
    background: #0c2074;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.tamanho-img {
    display: flex;
    justify-content: center;
    height: 120px;
}

.blocos-grandes {
    width: 360px;
    margin-top: 40px;
}

.texto-cadastro {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    max-width: 330px;
}

.destaque {
    background-color: #67b2e8;
    text-align: center;
    border-radius: 50px;
    color: #000;
    padding: 30px;
}

.titulo-destaque {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: #fff;
    margin: 0;
}

.texto-obrigado {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: #000;
    margin: 0;
}

.curadoria {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0 auto;
}

.bloco1, .bloco2, .bloco3, .bloco4, .bloco5 {
    max-width: 300px;
    margin: 10px;
}

.bloco1, .bloco2, .bloco3, .bloco4, .bloco5 > h2 {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

.bloco1, .bloco2, .bloco3, .bloco4, .bloco5 > p {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

 a {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #bbd839;
    transition: all ease-out 0.2s;
}

a:hover {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(136, 210, 245);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.747);
}

a:visited {
    font-family: "Cabin", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #67b2e8;
}