@import url('https://fonts.googleapis.com/css?family=Cabin:400,600&display=swap');

body {
 margin: 0;
}

header {
    height: 100px;
    /* box-shadow:  2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2) */
}

.tamanho-img {
    height: 100px;
}

.dark-background {
    background: #0c2074;
    color: white;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.blocos-grandes {
    width: 360px;
    margin: 10px;
}

.texto-cadastro {
    font-family: Cabin, sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    max-width: 330px;
}

.destaque {
    background-color: #67b2e8;
    text-align: center;
    border-radius: 30px;
    color: #000;
    padding: 0px 16px;
}

.titulo-destaque {
    font-size: 20px;
    color: #fff;
}

.texto-curadoria {
    color: black;
    font-size: 12px;
    font-family: Cabin, sans;
    font-weight: 600;
    width: 95px;
}

.circulo {
    height: 165px;
    width: 165px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
}

.img-circulo {
    height: 80px;
    margin: 2px;
}

.canto-inferior {
   align-self: flex-end;
}
